body {
   background-color: #ff1a1a;
 }
 
 .NavBar{
     display: flex;
     overflow: hidden;
     height: 60px;
     padding: 0;
     margin: 0;
     background-color: black;
     top:0;
     left: 0;
     color: white;
     width:100%;
     position: fixed;
 }
 
 .NavBar .NavButton{
     margin:0;
     background: none;
     padding: 0;
     width: 60px;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border: none;
     border-right: 1px solid white;
 }
 
 .bar1,.bar2,.bar3{
     width: 25px;
     padding:0;
     border: none;
     margin:2px;
     height: 2px;
     background-color:white;
 }
 
 .NameBar{
   display: flex;
   flex-grow: 2;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   font-family: 'Righteous', cursive;
 }
 
 .NavLinks {
    margin-top: 75px;
    display:flex;
    color: black;
    font-size: 20px;
    justify-content: space-evenly;
    
 }
 
 .Link img {
    width: 50x;
    height: 50px;
    animation-name: test1;
    animation-duration: 1s;
    object-fit: cover;
 }
 
 @keyframes test1 {
    0% {transform: translateX(-500px)}
    100%{transform: translateX(0px)}
 }
 
 
 .AboutMe {
   width: 100%;  
   display: flex;
   justify-content: center;
  
 }
 .AboutMe .Frame {
    border-radius: 100px;
    margin: 25px;
    background-color:white;
    width: 680px;
    box-shadow: 10px 10px 50px black; 
 }

 .AboutMeWords {
   text-align:center;
   font-family: 'Abel', sans-serif;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 30px;
 }
 .Circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-image: url("MyPic.JPG");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center top;
 }
 .Picture {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 5px;
 }
 .Section1,.Section3, .Section4 {
   width: 100%;  
   display: flex;
   justify-content: center;
 }
 .Section2{
   width: 100%;  
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }

 .Projects
 {
    width: 1250px;
    background-color:white;
    border-radius: 100px;
    margin: 25px;
    box-shadow: 10px 10px 50px black; 
 }
 .TwoMain {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 15px;
}

.ProjDesc1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}
.ProjDesc1 h3 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
.Proj1Word{
  text-align:center; 
  height: 150px;
  width: 400px;
  font-family: 'Abel', sans-serif;
}
.Proj1Img{
  height: 300px;
  width: 400px;
  object-fit: contain;
}
.ProjDesc2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}
.Proj2Word{
   text-align:center; 
   height: 150px;
   width: 400px;
   font-family: 'Abel', sans-serif;
 }
.Proj2Img {
   height: 300px;
   width: 400px;
   object-fit: contain;
}

.ProjDesc2 h3 {
   font-size: 30px;
   font-family: 'Indie Flower', cursive;
}
.Award {
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
  width: 300px;
}
.Award img {
   height: 50px;
   width: 80px;
   object-fit: contain;
}
.DevButton img {
   height: 100px;
   width: 150px;
   object-fit: contain;
}
 .Education {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 25px;
    border-radius: 100px;
    background-color:white;
    box-shadow: 10px 10px 50px black; 
 }
 .Title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: none;
    font-size: 20px;
    font-family: 'Righteous', cursive;
 
 }

 .EduDesc{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
 
 }
 .EduDesc img {
    width: 150px;
    height: 100px;
    object-fit: contain;
 }

 .Leadership{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 100px;
    background-color:white;
    width: 600px;
    margin: 25px;
    box-shadow: 10px 10px 50px black; 
 }
 .LeadDesc{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
 
 }
 .LeadDesc img {
    display: flex;
    width: 150px;
    height: 100px;
    object-fit: contain;
 }
 .WorkExp{
    border-radius: 100px;
    margin-top: 25px;
    background-color:white;
    width: 1250px;
    box-shadow: 10px 10px 50px black; 
 }
 
 .Jobs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
 }
 
 .WorkDesc {
    padding: 30px;
 }
 
 .WorkDesc .TopFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .WorkDesc .TopFrame img{
    margin-right: 30px;
}
 
 .WorkDesc img {
    display: flex;
    width: 130px;
    height: 80px;
    object-fit: contain;
    align-self: center;
 }

  .WorkDescWords {
   width: 400px;
   font-family: 'Abel', sans-serif;
   display: flex;
   justify-content: center;
  }
 
 .Skills {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 .SkillsBox {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: hsl(0,0%,0%, 0.3);
    border-radius: 10px;
 }
 
 .SkillsBox p {
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
 }

 .BottomInfo {
    display: flex;
    justify-content: center;
   text-align: center;
   width:100%;
   font-family: 'Abel', sans-serif;
   color:white;
 }
 
 @media only screen and (max-width: 480px){
  .AboutMeWords{
     margin-right:35px;
     margin-left:35px;
     margin-bottom: 40px;
     padding: 0;
  }

  .AboutMe .Frame, .Projects, .Education, .Leadership, .WorkExp {
     margin: 0;
     margin-top: 20px;
  }

  .TwoMain {
     padding: 0;
  }
  
  .Proj1Img, .Proj2Img {
     height: 150px;
     width: 250px;
  }

  .Proj1Word, .Proj2Word {
     width: 250px;
  }

  .Award {
     margin-top: 40px;
     width: 200px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
  }

  .Award img {
     height: 30px;
     width: 40px;
  }
  .Circle {
     width: 150px;
     height:150px;
  }

.Education, .Leadership{
   justify-content: flex-start;
}
.EduDesc, .LeadDesc {
   flex-wrap: wrap;
   text-align: center;
   padding-bottom: 100px;
   justify-content: center;

}

.EduDesc img, .LeadDesc img {
   width: 200px;
}


  .WorkDesc {
     padding: 0;
  }
  .WorkDesc .TopFrame {
     flex-direction: column;
     align-items: center;
  }

  .WorkDesc .TopFrame img{
   margin-right: 0;
}

.WorkDescWords {
   width: 250px;
}

.WorkExp {
   padding-bottom: 20px;
}

  .Skills {
   padding-left: 0;
   padding-right: 0;
  }

  .BottomInfo p{
     width: 240px;
  }



}


 #topBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 50px;
    width: 50px;
    height:50px;
    border:none;
    color:black;
    cursor: pointer;
    background: none;
    display: none;
 }
